requests
numpy
pyaudio
websockets
ws4py
pyqt5
flask
openpyxl
pygame
flask_cors
PyQtWebEngine
eyed3
websocket-client
azure-cognitiveservices-speech
aliyun-python-sdk-core
scipy
simhash
pytz
gevent
edge_tts
revChatGPT
cemotion